.swapanimation {
  margin-top: -110px;

   
}



.swapbutton {
  width: 2260px;
  height: 2260px;
  border-radius: 50%;
  filter: blur(10px);
}



.swapbutton .s1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#d4ff28, #e24ac1f7, #561af1e2);
  filter: blur(10px);
  animation: animates1 15s linear infinite;
  margin-left: -96px;
}

.swapbutton .s2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#6128ff, #d1ec09f7, #e640d6e2);
  filter: blur(10px);
  animation: animates2 15s linear infinite;
  margin-left: 96px;
}



@keyframes animates1 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animates2 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}



@media (max-width: 1000px) {
  .swapbutton {
    width: 1560px;
    height: 1560px;
    border-radius: 50%;
    filter: blur(10px);
  }

  .swapbutton .s1 {
    margin-left: -48px;
  }

  .swapbutton .s2 {
    margin-left: 48px;
  }
}

@media (max-width: 790px) {
  .swapbutton {
    width: 860px;
    height: 860px;
    border-radius: 50%;
    filter: blur(10px);
  }
}


@media (max-width: 550px) {
  .swapbutton {
    width: 560px;
    height: 560px;
    border-radius: 50%;
    filter: blur(10px);
  }

  .swapbutton .s1 {
    margin-left: -28px;
  }

  .swapbutton .s2 {
    margin-left: 28px;
  }
}